[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/rangaraoinvizo
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/rangaraoinvizo
	label-Verified = -1..+1 group user/rangaraoinvizo
	push = group user/rangaraoinvizo
	read = group user/rangaraoinvizo
	rebase = group user/rangaraoinvizo
	removeReviewer = group user/rangaraoinvizo
	submit = group user/rangaraoinvizo
[access "refs/heads/*"]
	create = group user/rangaraoinvizo
	push = +force group user/rangaraoinvizo
	pushMerge = group user/rangaraoinvizo
	read = group user/rangaraoinvizo
[access "refs/tags/*"]
	push = group user/rangaraoinvizo
	push = +force group user/rangaraoinvizo
